{% extends 'base.html' %}

{% block content %}
    <div class="container py-4">
        <h1 class="mb-4">Bracket Overview</h1>
        <div class="card mb-4">
            <div class="card-body">
                {% if not tournament.pool_play_completed and not tournament.bracket_play_completed %}
                    <a href="{% url 'simulate_full_pool_play' tournament.id %}" class="btn-link"
                       id="simulatePoolPlay">Simulate Pool Play All At Once</a>
                {% elif tournament.pool_play_completed and not tournament.quarterfinal_round_completed and not tournament.semifinal_round_completed and not tournament.final_round_completed %}
                    <a href="{% url 'simulate_quarterfinal_round' tournament.id %}" class="btn-link"
                       id="simulateQuarterfinalRound">Simulate Quarter-Final Round</a>
                {% elif tournament.pool_play_completed and tournament.quarterfinal_round_completed and not tournament.semifinal_round_completed and not tournament.final_round_completed %}
                    <a href="{% url 'simulate_semifinal_round' tournament.id %}" class="btn-link"
                       id="simulateSemifinalRound">Simulate Semi-Final Round</a>
                {% elif tournament.pool_play_completed and tournament.quarterfinal_round_completed and tournament.semifinal_round_completed and not tournament.final_round_completed %}
                    <a href="{% url 'simulate_final_round' tournament.id %}" class="btn-link"
                       id="simulateFinalRound">Simulate Final Round</a>
                {% endif %}
            </div>
        </div>
        <div id="loading-message" style="display: none;">
            <p>Your games are being simulated, please be patient...</p>
        </div>
        <!-- Quarterfinal Games Card -->
        {% include "reusable_cards/bracket_results_card.html" with title="Quarterfinal Results" game_type="Quarterfinal" %}
        <!-- Loser Semifinals Games Card -->
        {% include "reusable_cards/bracket_results_card.html" with title="Losers Semifinals Results" game_type="5th-Place Semifinal" %}
        <!-- Semifinal Games Card -->
        {% include "reusable_cards/bracket_results_card.html" with title="Semifinal Results" game_type="Semifinal" %}
        <!-- 7th-Place-Final Games Card -->
        {% include "reusable_cards/bracket_results_card.html" with title="7th Place Final Results" game_type="7th-Place Final" %}
        <!-- Fifth Place Final Games Card -->
        {% include "reusable_cards/bracket_results_card.html" with title="5th Place Final Results" game_type="5th-Place Final" %}
        <!-- Third Place Game Card -->
        {% include "reusable_cards/bracket_results_card.html" with title="3rd-Place Final Results" game_type="3rd-Place Final" %}
        <!-- Championship Game Card -->
        {% include "reusable_cards/bracket_results_card.html" with title="Championship Results" game_type="Championship" %}

    </div>
    {% include 'eight_team_bracket_scripts.html' %}
{% endblock %}