{% extends 'base.html' %}

{% block content %}
    <div class="container py-4">
        <div class="card mb-4">
            <div class="card-body">
                {% if not tournament.pool_play_completed and not tournament.bracket_play_completed %}
                    <a href="{% url 'simulate_full_pool_play' tournament.id %}" class="btn-link"
                       id="simulatePoolPlay">Simulate Pool Play All At Once</a>
                {% elif tournament.pool_play_completed and not tournament.semifinal_round_completed and not tournament.final_round_completed %}
                    <a href="{% url 'simulate_semifinal_round' tournament.id %}" class="btn-link"
                       id="simulateSemifinalRound">Simulate Semi-Final Round</a>
                {% elif tournament.pool_play_completed and tournament.semifinal_round_completed and not tournament.final_round_completed %}
                    <a href="{% url 'simulate_final_round' tournament.id %}" class="btn-link"
                       id="simulateFinalRound">Simulate Final Round</a>
                {% endif %}
            </div>
        </div>
        <div id="loading-message" style="display: none;">
            <p>Your games are being simulated, please be patient...</p>
        </div>
        {% include "reusable_cards/bracket_results_card.html" with title="Semifinal Results" game_type="Semifinal" %}
        {% include "reusable_cards/bracket_results_card.html" with title="3rd-Place Final Results" game_type="3rd-Place Final" %}
        {% include "reusable_cards/bracket_results_card.html" with title="Championship Results" game_type="Championship" %}

    </div>
    {% include 'four_team_bracket_scripts.html' %}
{% endblock %}