{% extends 'base.html' %}

{% block content %}
<div class="container py-4">
    <div class="card mb-4">
        <div class="card-body">
            {% if not tournament.pool_play_completed and not tournament.bracket_play_completed %}
                <a href="{% url 'simulate_full_pool_play' tournament.id %}" class="btn-link"
                   id="simulatePoolPlay">Simulate Pool Play All At Once</a>
            {% elif tournament.pool_play_completed and not tournament.pre_quarterfinal_round_completed and not tournament.quarterfinal_round_completed and not tournament.semifinal_round_completed and not tournament.final_round_completed %}
                <a href="{% url 'simulate_prequarterfinal_round' tournament.id %}" class="btn-link"
                   id="simulatePreQuarterfinalRound">Simulate Pre-Quarter-Final Round</a>
            {% elif tournament.pool_play_completed and not tournament.quarterfinal_round_completed and not tournament.semifinal_round_completed and not tournament.final_round_completed %}
                <a href="{% url 'simulate_quarterfinal_round' tournament.id %}" class="btn-link"
                   id="simulateQuarterfinalRound">Simulate Quarter-Final Round</a>
            {% elif tournament.pool_play_completed and tournament.quarterfinal_round_completed and not tournament.semifinal_round_completed and not tournament.final_round_completed %}
                <a href="{% url 'simulate_semifinal_round' tournament.id %}" class="btn-link"
                   id="simulateSemifinalRound">Simulate Semi-Final Round</a>
            {% elif tournament.pool_play_completed and tournament.quarterfinal_round_completed and tournament.semifinal_round_completed and not tournament.final_round_completed %}
                <a href="{% url 'simulate_final_round' tournament.id %}" class="btn-link"
                   id="simulateFinalRound">Simulate Final Round</a>
            {% endif %}
        </div>
    </div>

    <div id="loading-message" style="display: none;">
        <p>Your games are being simulated, please be patient...</p>
    </div>

    {% include "reusable_cards/bracket_results_card.html" with title="Pre-Quarterfinal Results" game_type="Pre-Quarterfinal" %}
    {% include "reusable_cards/bracket_results_card.html" with title="Quarterfinal Results" game_type="Quarterfinal" %}
    {% include "reusable_cards/bracket_results_card.html" with title="5th-Place Semifinals Results" game_type="5th-Place Semifinal" %}
    {% include "reusable_cards/bracket_results_card.html" with title="Semifinal Results" game_type="Semifinal" %}
    {% include "reusable_cards/bracket_results_card.html" with title="9th-Place Semifinals Results" game_type="9th-Place Semifinal" %}
    {% include "reusable_cards/bracket_results_card.html" with title="13th-Place Semifinal Results" game_type="13th-Place Semifinal" %}
    {% include "reusable_cards/bracket_results_card.html" with title="15th-Place Final Results" game_type="15th-Place Final" %}
    {% include "reusable_cards/bracket_results_card.html" with title="13th-Place Final Results" game_type="13th-Place Final" %}
    {% include "reusable_cards/bracket_results_card.html" with title="11th-Place Final Results" game_type="11th-Place Final" %}
    {% include "reusable_cards/bracket_results_card.html" with title="9th-Place Final Results" game_type="9th-Place Final" %}
    {% include "reusable_cards/bracket_results_card.html" with title="7th-Place Final Results" game_type="7th-Place Final" %}
    {% include "reusable_cards/bracket_results_card.html" with title="5th-Place Final Results" game_type="5th-Place Final" %}
    {% include "reusable_cards/bracket_results_card.html" with title="Third Place Results" game_type="3rd-Place Final" %}
    {% include "reusable_cards/bracket_results_card.html" with title="Championship Results" game_type="Championship" %}
</div>

{% include 'sixteen_team_bracket_scripts.html' %}
{% endblock %}
