{% extends 'base.html' %}

{% block content %}
    <div class="container py-4">
        <div class="card mb-4">
            <div class="card-body">
                {% if not tournament.pool_play_completed and not tournament.bracket_play_completed %}
                    <a href="{% url 'simulate_full_pool_play' tournament.id %}" class="btn-link"
                       id="simulatePoolPlay">Simulate Pool Play All At Once</a>
                {% elif tournament.pool_play_completed and not tournament.bracket_play_completed %}
                    <a href="{% url 'simulate_tournament' tournament.id %}" class="btn-link"
                       id="simulateBracketPlay" style="display: none;">Simulate Bracket Play</a>
                {% endif %}
            </div>
        </div>
        <div id="loading-message" style="display: none;">
            <p>Your games are being simulated, please be patient...</p>
        </div>
        {% include "reusable_cards/pool_play_overview_card.html" with pool_letter="A" pool_games=pool_a_games %}
        {% include "reusable_cards/pool_play_overview_card.html" with pool_letter="B" pool_games=pool_b_games %}
        {% include "reusable_cards/pool_play_overview_card.html" with pool_letter="C" pool_games=pool_c_games %}
        {% include "reusable_cards/pool_play_overview_card.html" with pool_letter="D" pool_games=pool_d_games %}
    </div>
    {% include 'pool_play_scripts.html' %}
{% endblock %}